.row
  .col-sm-6.col-sm-offset-2
    = simple_form_for @team, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: SimpleForm.wrapper_mappings[:horizontal_form] do |f|
      = f.error_notification

      = f.input :title
      = f.association :monsters

      .text-right
        = f.submit 'Save', class: 'btn btn-primary'
