%h3 Monsters in this team

- if @team_monsters.present?
  = render_datatable @team_monsters
- else
  %p There are no monsters in this team

= link_to 'Edit Team', edit_team_path(@team), class: 'btn btn-primary'
