.row
  .col-sm-6.col-sm-offset-2
    = simple_form_for @monster, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: SimpleForm.wrapper_mappings[:horizontal_form] do |f|
      = f.error_notification

      = f.input :name
      = f.input :power
      = f.input :element, as: :select, collection: Monster::TYPES
      = f.association :team

      .text-right
        = f.submit 'Save', class: 'btn btn-primary'
