.row
  .col-md-12
    - flash.each do |name, msg|
      %div{class: "alert alert-row alert-dismissible alert-#{name}"}
        %button.close{'data-dismiss' => 'alert', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
          %span.sr-only Close
        = msg
