.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to 'Rubymon', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: ('active' if controller_name == 'monsters')}
          = link_to 'Monsters', monsters_path
        %li{class: ('active' if controller_name == 'teams')}
          = link_to 'Teams', teams_path

      %ul.nav.navbar-nav.navbar-right
        %li
          %p.navbar-text Signed in as #{current_user.name}
        %li= link_to 'Sign Out', sign_out_path, method: :delete, class: 'btn btn-default navbar-btn'
