!!!
%html
  %head
    %title Rubymon
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{class: "#{controller_name} #{action_name}"}
    - if signed_in?
      = render partial: 'shared/navbar'

    .container-fluid
      - if flash.present?
        = render partial: 'shared/flash'

      - unless @page_title.blank? || controller_name == 'sessions'
        %h1.page-title= @page_title

      .row
        .col-sm-12
          = yield
